@tailwind base;
@tailwind components;
@tailwind utilities;

.megahover {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.megahover::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  @apply bg-black/80 dark:bg-white/80;
  transform-origin: bottom right;
  transition: transform 0.4s cubic-bezier(0.86, 0, 0.07, 1);
}

.megahover:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
